Repository blib-la/blibla-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx sort-package-json, npx prettier --write, npx markdown-toc -i

chore: remove unused
  .env.local.example
  src/__middleware.ts
Due: npx eslint --fix

test: adjust test
  .github/workflows/bdd-tests.yml
  features/legal-pages.feature
  sanity/lib/queries.ts
  src/organisms/footer/index.tsx
  src/organisms/header/index.tsx
Due: npx eslint --fix

chore: cleanup sanity folder
  sanity/lib/get.ts
  sanity/lib/links.ts
  sanity/lib/queries.ts
  sanity/lib/types.ts
  src/ions/ssr/get-properties.ts
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/legal/[slug].tsx
Due: npx eslint --fix

chore: tighten eslint
  .eslintrc.json
Due: none

fix: color-mode flash
  src/pages/_document.tsx
Due: none

test: adjust tests
  README.md
  features/legal-pages.feature
  features/user-login.feature
  src/organisms/header/index.tsx
Due: npx prettier --write, npx markdown-toc -i

fix: add missing i18n keys
  public/locales/de/auth.json
  public/locales/en/auth.json
Due: none

fix: container-height
  src/organisms/layout/styled.ts
Due: npx eslint --fix

fix: add missing i18n keys
  public/locales/de/button.json
  public/locales/en/button.json
Due: none

fix: remove useless options in cms
  sanity/lib/queries.ts
  sanity/schemas/documents/promoted.ts
Due: npx eslint --fix

fix: several glitches
  public/locales/de/button.json
  public/locales/de/common.json
  public/locales/en/button.json
  src/ions/theme/index.ts
  src/organisms/color-mode-selector/index.tsx
  src/organisms/cookie-banner/index.tsx
  src/organisms/cookie-banner/styled.ts
Due: npx eslint --fix

feat: add headline to promoted
  sanity/lib/queries.ts
  sanity/lib/types.ts
  sanity/schemas/documents/promoted.ts
  src/organisms/slot/promoted.tsx
Due: npx eslint --fix

feat: adjust footer layout
  src/organisms/color-mode-selector/index.tsx
  src/organisms/cookie-banner/index.tsx
  src/organisms/footer/index.tsx
  src/organisms/language-select/index.tsx
Due: none

feat: add profile into sidebar
  src/ions/theme/index.ts
  src/organisms/cookie-banner/index.tsx
  src/organisms/header/index.tsx
  src/organisms/slot/promoted.tsx
  src/templates/parent-page/index.tsx
Due: npx eslint --fix

feat: adjust footer layout
  src/organisms/footer/index.tsx
Due: none

feat: adjust footer layout
  src/organisms/color-mode-selector/index.tsx
  src/organisms/cookie-banner/index.tsx
Due: none

fix: adjust glitches
  public/images/mask.svg
  sanity/lib/queries.ts
  sanity/lib/types.ts
  sanity/schemas/documents/address.ts
  sanity/schemas/documents/spot-image.ts
  src/ions/contexts/data.ts
  src/organisms/footer/index.tsx
  src/organisms/slot/spot-image.tsx
  src/organisms/slot/spotlight.tsx
Due: npx eslint --fix

feat: better cookie banner
  src/ions/atoms/common.ts
  src/ions/theme/index.ts
  src/organisms/cookie-banner/index.tsx
  src/organisms/cookie-banner/styled.ts
Due: npx eslint --fix

feat: add person
  cucumber/steps/events.steps.ts
  public/images/mask.svg
  sanity/lib/queries.ts
  sanity/lib/types.ts
  sanity/schemas/documents/page.ts
  sanity/schemas/documents/person.ts
  sanity/schemas/documents/spot-image.ts
  sanity/schemas/index.ts
  src/molecules/image/index.tsx
  src/molecules/image/styled.ts
  src/organisms/slot/index.tsx
  src/organisms/slot/person.tsx
  src/organisms/slot/spot-image.tsx
  src/organisms/slot/spotlight.tsx
Due: npx eslint --fix

feat: allow columns of tiles
  sanity/lib/queries.ts
  sanity/lib/types.ts
  sanity/schemas/documents/tiles.ts
  src/organisms/slot/tiles.tsx
Due: npx eslint --fix

feat: make stage cta handle external links
  src/atoms/link/button.tsx
  src/organisms/stage/index.tsx
Due: none

feat: add various adjustments
  public/locales/de/common.json
  public/locales/en/common.json
  sanity/lib/get.ts
  sanity/lib/queries.ts
  sanity/lib/types.ts
  sanity/schemas/documents/address.ts
  sanity/schemas/documents/link.ts
  sanity/schemas/documents/navigation.ts
  sanity/schemas/documents/person.ts
  sanity/schemas/documents/spotlight.ts
  sanity/schemas/index.ts
  src/atoms/icons/index.tsx
  src/atoms/link/index.tsx
  src/ions/contexts/navigation.ts
  src/ions/hooks/__tests__/admin-rights.test.tsx
  src/ions/ssr/get-properties.ts
  src/ions/theme/index.ts
  src/ions/theme/palette.ts
  src/ions/utils/__tests__/color.test.ts
  src/ions/utils/color.ts
  src/organisms/cookie-banner/index.tsx
  src/organisms/cookie-banner/styled.ts
  src/organisms/footer/index.tsx
  src/organisms/header/index.tsx
  src/organisms/navigation/index.tsx
  src/organisms/slot/person.tsx
  src/organisms/slot/spotlight.tsx
  src/pages/_app.tsx
  src/pages/design/de.mdx
  src/pages/design/index.mdx
  src/templates/design/components.tsx
Due: npx eslint --fix

feat: add sitemap
  next.config.mjs
  package-lock.json
  package.json
  src/pages/api/sitemap.ts
  src/pages/design/de.mdx
  src/pages/design/index.mdx
  src/pages/design/index.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

fix: mdx build issue
  src/pages/[...route].tsx
  src/pages/design-system/de.mdx
  src/pages/design-system/index.mdx
  src/templates/design/components.tsx
Due: none

test: adjust cookie banner test
  features/cookie-banner.feature
Due: none

feat: add various adjustments (#3)
  features/cookie-banner.feature
  next.config.mjs
  package-lock.json
  package.json
  public/locales/de/common.json
  public/locales/en/common.json
  sanity/lib/get.ts
  sanity/lib/queries.ts
  sanity/lib/types.ts
  sanity/schemas/documents/address.ts
  sanity/schemas/documents/link.ts
  sanity/schemas/documents/navigation.ts
  sanity/schemas/documents/person.ts
  sanity/schemas/documents/spotlight.ts
  sanity/schemas/index.ts
  src/atoms/icons/index.tsx
  src/atoms/link/index.tsx
  src/ions/contexts/navigation.ts
  src/ions/hooks/__tests__/admin-rights.test.tsx
  src/ions/ssr/get-properties.ts
  src/ions/theme/index.ts
  src/ions/theme/palette.ts
  src/ions/utils/__tests__/color.test.ts
  src/ions/utils/color.ts
  src/organisms/cookie-banner/index.tsx
  src/organisms/cookie-banner/styled.ts
  src/organisms/footer/index.tsx
  src/organisms/header/index.tsx
  src/organisms/navigation/index.tsx
  src/organisms/slot/person.tsx
  src/organisms/slot/spotlight.tsx
  src/pages/[...route].tsx
  src/pages/_app.tsx
  src/pages/api/sitemap.ts
  src/pages/design-system/de.mdx
  src/pages/design-system/index.mdx
  src/templates/design/components.tsx
Due: npx eslint --fix, npx sort-package-json, npx prettier --write

chore: adjust lintstaged
  .lintstagedrc.json
Due: none

chore: cleanup
  src/ions/styles/index.tsx
  src/ions/theme/index.ts
  src/molecules/canonical/index.tsx
  src/molecules/image/index.tsx
  src/organisms/layout/base.tsx
  src/organisms/layout/index.tsx
  src/pages/_app.tsx
Due: npx eslint --fix

feat: add images to rich-text
  sanity/lib/queries.ts
  sanity/schemas/fields/block-content.ts
  src/organisms/rich-text/index.tsx
Due: npx eslint --fix

feat: add annotations and person
  sanity/lib/queries.ts
  sanity/schemas/fields/block-content.ts
  src/organisms/rich-text/index.tsx
Due: npx eslint --fix

refactor: adjust paths
  src/ions/ssr/get-properties.ts
  src/pages/_document.tsx
  src/pages/api/auth/[...nextauth].ts
Due: npx eslint --fix

style: format
  .eslintrc.json
Due: none

feat: add images to rich-text (#4)
  .eslintrc.json
  sanity/lib/queries.ts
  sanity/schemas/fields/block-content.ts
  src/ions/ssr/get-properties.ts
  src/organisms/rich-text/index.tsx
  src/pages/_document.tsx
  src/pages/api/auth/[...nextauth].ts
Due: npx eslint --fix

refactor: import fix
  src/organisms/rich-text/index.tsx
Due: none

chore: add license
  LICENSE
Due: none

Path conditions:
  npx eslint --fix: (any of: *.ts) or (any of: *.js)
  npx sort-package-json: any of: package.json
  npx prettier --write: ((any of: package.json) or (any of: *.md)) or (any of: README.md)
  npx markdown-toc -i: any of: README.md
